@charset "utf-8";

html,body,div,table,th,tr,td,ul,li,ol,dl,dt,dd,p,span,i,input,textarea,select,label,h1,h2,h3,h4,h5,h6,img{
	margin: 0;
	padding: 0;
	border: 0;
	font: 14px/24px Microsoft YaHei,Arial,sans-serif,SimSun;
}
ul,li{
	list-style: none;
}
a{
	text-decoration:none;
	cursor:pointer;
	color: #333;
}
.none{
	display: none;
}
.dib{
	display: inline-block !important;
}
.hidden{
	visibility: hidden;
	opacity: 0;
}
.visible{
	visibility: visible;
	opacity:1;
}
a:hover{
	-webkit-transition: color .2s linear,background-color .3s linear;
	-moz-transition: color .2s linear,background-color .3s linear;
	-ms-transition: color .2s linear,background-color .3s linear;
	-o-transition: color .2s linear,background-color .3s linear;
	transition: color .2s linear,background-color .3s linear;
	color:#feb542;
}
.clearfix:after{
	content: "";
	display: block;
	visibility:hidden;
	clear: both;
}
.fl{float:left;}
.clear{clear: both;}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt40{
	margin-top: 40px;
}
.mt50{
	margin-top: 50px;
}
.pt20{
	padding-top: 20px;
}
.pb20{
	padding-bottom: 20px;
}
.text_center{
	text-align: center;
}

/**/
.c_input {
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;
    line-height: 14px;
    margin-right: 2rem;
}
.c_input > input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
/* .c_input + .c_input {
    margin-left: 2rem;
} */
.c_indicator {
    -moz-user-select: none;
	/* background-color: #fff; */
	border: 1px solid #feb542;
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 14px;
    line-height: 1em;
}
.c_checkbox .c_indicator {
    border-radius: 4px;
}
.c_checkbox input:checked ~ .c_indicator:before {
    content: "√";
    font-size: 14px;
    width: 100%;
    font-style: normal;
    vertical-align: top;
    color: #fff;
    display: block;
	background: #feb542;
}
.c_checkbox input:checked ~ .text{
	color: #000;
}
.c_radio .c_indicator {
    border-radius: 50%;
}
.c_radio input:checked ~ .c_indicator:before {
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 6px;
}
.c_input input:disabled ~ .c-description {
    color: #999;
    cursor: not-allowed;
}
.c_input input:disabled ~ .c_indicator {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc !important;
    cursor: not-allowed;
}
.c_input input:disabled ~ .c_indicator:before {
    color: #999 !important;
}
.c_radio input:disabled ~ .c_indicator:before {
    background: #ccc none repeat scroll 0 0 !important;
}